:root{
  --font:"Comic Sans MS", cursive, sans-serif;
  --color-text:white;
  --textbgwhite:#3c1053;
  --bgs1color:white;
  --bordercolor:#C0C0C0;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  padding: 0;
  margin: 0;
  font-family: var(--font);
}
h1{
  font-family: var(--font);
}

h2,h3,h4,h5{
  font-family: var(--font);
  color: var(--textbgwhite);
}

a:hover{
  text-decoration: none;
  color: #ad5389;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.navbar-custom {
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-brand {
  margin-left: 350px;
  margin-bottom: 15px;
}
.nav-link {
  color: var(--color-text);
}


.navbar{
  height: 85px;
}

.nav-link{
  margin-left:10px;
  margin-top: 10px;
  font-size: 20px;
}

.navbar-nav{
  margin-left: 640px;
}

.one-roles{
  margin-top: 150px;
  margin-right: 100px;
  width: 205px;
  height: 400px;
  text-align: center;
  font-size: 20px;
  color:#3c1053;
}


.two-roles{
  margin-top: 150px;
  margin-left: 190px;
  margin-right: -10px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  color:var(--textbgwhite);
}


.narm-background{
  background-image: url('img/narm.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

/* stylesheet of portfolio it is in home page*/
.s1{
	background-color:#F8F8FF;
	border-top: 2px solid #F8F8FF;
	overflow:auto;
}

.main-container{
	width: 1200px;
	margin: 0 auto;
}

.project-wrapper{
  margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.project{
	border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail{
	display: block;
	width: 100%;
	height:180px;
	object-fit: cover;
}

.project-preview{
	background-color: #fff;
	padding:15px;
}

.project-title{
	margin: 0;
  font-weight: bolder;
}

.project-intro{
	font-size: 16px;
  color: var(--textbgwhite);
}

.visit-site{
  padding:3px 3px 3px;
  line-height: 2;
  color: #8B008B;
}

/* stylesheet of section 2 :about me it is in about.html file*/
.s2{
	background-color:var(--bgs1color);
	border-top: 1px solid var(--bordercolor);
	overflow: auto;
}


.intro-wrapper{
  margin-bottom: 20px;
  margin-top: 20px;
	display: grid;
	grid-template-columns: 300px 1fr 370px;
	grid-template-rows: 35em 35em 35em;
	grid-template-areas:
	'about-me about-me face-narm'
	'web-developer pie-chart digital-transformer'
  'gif-fact gif-fact random-fact'
	;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  -webkit-box-shadow: 2px 7px 22px 27px #DCDCDC;
  box-shadow: 2px 7px 22px 27px #DCDCDC;
}

.about-me{
	grid-area: about-me;
  width: 90%;
  height: auto;
  color: var(--textbgwhite);
}

.about-me p{
  font-size: 18px;
  line-height: 2;
  margin-left: 70px;
}
.about-me h2{
  line-height: 1.9;
  padding-top: 40px;
  margin-left: 60px;
}

.face-narm{
	grid-area: face-narm;
}

.face-narm img{
  height: 450px;
  margin-left: -100px
}
.digital-transformer{
	grid-area: digital-transformer;
  padding-top: 50px;
}

.digital-transformer,.web-developer li{
  line-height: 2;
  color: var(--textbgwhite);
  font-size: 18px;
}

.web-developer{
	grid-area: web-developer;
  padding-top: 50px;
  margin-left: 50px;
}

.pie-chart{
	grid-area: pie-chart;
  padding-top: 50px;
}

.pie-chart #pieChart {
  height:300px;
}

.gif-fact{
  grid-area: gif-fact;
}

.gif-fact img{
  margin-left: 70px;
  width: 400px;
}

.random-fact{
  grid-area: random-fact;
  color: var(--textbgwhite);
  text-align: left;
  line-height: 2;
  font-size: 20px;
  margin-left:-250px;
  margin-top: 70px;
}

/*  portfolio.html page css style*/
.digital-project{
  margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 1000px);
	justify-content: center;
	padding-bottom: 50px;
}

.digital-card{
  	border:1px solid var(--borderColor);
  	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
  	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
  	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.Mdblab-img{
	display: block;
	width: 100%;
	height:400px;
	object-fit: fill;
}

.title-h5{
  margin-left:100px;
  font-size:30px;
  font-weight:bolder;
}

.title-h5-digital{
  margin-bottom:40px;
  font-size:30px;
  font-weight:bolder;
}




footer{
	position: static;
	bottom: 0;
}

  .footer-distributed{
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	box-sizing: border-box;
  	width: 100%;
    height: 297px;
  	text-align: left;
    padding: 20px 20px;

  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  	display: inline-block;
  	vertical-align: top;
  }

  /* Footer left */

  .footer-distributed .footer-left{
  	width: 18%;
    margin-left: 350px;
    margin-top: 20px;
  }

  /* The company logo */

  .footer-distributed .footer-left img{
  	width: 50%;
    height: 140px;
    size:
    margin-bottom: 10px;
  }
  /* Footer links */

  .footer-distributed .footer-links{
  	color:  var(--color-text);
  	margin: 5px;
  }

  .footer-distributed .footer-links a{
  	display:inline-block;
  	line-height: 1.8;
    font-size: 18px;
  	color:  var(--color-text);
  }

  .footer-distributed .footer-company-name{
  	color:  var(--color-text);
  	font-size: 16px;
  	font-weight: normal;
  	margin: 0;
  }

  /* Footer Center */

  .footer-distributed .footer-center{
  	width: 30%;
    margin-top: 30px;
  }


  .footer-distributed .footer-center i{
  	color: var(--color-text);
  	font-size: 25px;
  	width: 30px;
  	height: 38px;
  	border-radius: 50%;
  	text-align: center;
  	line-height: 42px;
  	margin: 10px 15px;
  	vertical-align: middle;
  }

  .footer-distributed .footer-center i.fa-envelope{
  	font-size: 18px;
  	line-height: 38px;
  }

  .footer-distributed .footer-center p{
  	display: inline-block;
  	color: var(--color-text);
  	vertical-align: middle;
  	margin:0;
    font-size: 18px;
  }

  .footer-distributed .footer-center p span{
  	font-weight: normal;
  	font-size:18px;
  	line-height:2;
    margin-top: 15px;
  }

  .footer-distributed .footer-center p a{
  	color:  var(--color-text);

  }


  /* Footer Right */

  .footer-distributed .footer-right{
  	width: 18%;
    margin-top: 30px;
  }

  .footer-distributed .footer-company-about{
  	line-height: 20px;
  	color:  var(--color-text);
  	font-size: 18px;
  	font-weight: normal;
  	margin-top: 15px;
  }


  .footer-distributed .footer-icons{
  	margin-top: 20px;
  }

  .footer-distributed .footer-icons a{
  	display: inline-block;
  	cursor: pointer;
  	border-radius: 8px;
  	font-size: 26px;
  	color: var(--color-text);
  	text-align: center;
  	margin-right: 10px;
    margin-left: 10px;
  	margin-bottom: 5px;
  }

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
/* here the */
@media only screen and (max-width:1200px) {

  *{
   padding:0;
   margin:0;
  }


  .digital-project{
    margin-top: 30px;
  	display: grid;
  	grid-template-columns: repeat(auto-fit, 680px);
  	justify-content: center;
  	padding-bottom: 50px;
  }

  .navbar-brand img{
    border-radius: 50%;
    width: 165px;
    height: 90px;
  }
  .navbar-brand{
    margin: -15px 0px 40px;
    overflow: auto;
  }

  .navbar-nav{
    height: 60px;
    margin: 0px;
    display: inline;
    margin-bottom: 20px;
  }
  .nav-item {
    display: inline;
  }
  .nav-link{
    font-size: 16px;
    display: inline;
  }

  .one-roles{
    margin-top: 150px;
    margin-right: 50px;
  }

  .footer-distributed{
  	width: 100%;
    height: auto;
  	text-align: center;
    padding: 20px 20px;

  }

  .footer-distributed .footer-left{
  	width: 50%;
    margin: 0;
    margin-left: 150px;
  }

  .footer-distributed .footer-center i{
    background-color: black;

  }

  .footer-distributed .footer-center{

  }

  .footer-distributed .footer-center i.fa-phone{
  	font-size: 18px;
  	line-height: 38px;
    margin-right: 150px;
  }

  .footer-distributed .footer-center p{
  	font-size: 18px;
  	line-height: 38px;
    background-color: red;
    float: left;
  }
  /* the sectons:two and three */
  .main-container{
    width: 95%;
  }
  .intro-wrapper{
    margin:auto;
  	display: grid;
  	grid-template-columns: 200px 340px 200px;
  	grid-template-rows: 20em 20em 20em;
  	grid-template-areas:
  	'about-me about-me face-narm'
  	'web-developer pie-chart digital-transformer'
    'gif-fact gif-fact random-fact'
  	;
    box-shadow: none;
  }

  .about-me{
  	grid-area: about-me;

  }
  .about-me p{
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.7;
  }
  .about-me h2{
    line-height: 1.5;
    padding-top: 20px;
    margin-left: 20px;
  }

  .face-narm img{
    height: 300px;
    width: 200px;
    margin-left: 0px;
    margin-top: 20px;
  }


  .digital-transformer h2,.web-developer h2{
    font-size: 18px;
  }
  .digital-transformer,.web-developer li{
    line-height: 1.6;
    font-size: 16px;
  }


  .pie-chart #pieChart {
    height:300px;
    width: 300px;
  }


  .gif-fact img{
    margin-left:40px;
    width: 260px;
  }

  .random-fact{
    grid-area: random-fact;
    text-align: left;
    line-height: 2;
    font-size: 16px;
    margin-left:-120px;
    margin-top: 30px;
  }

  /* third section Responsive style */



}

@media only screen and (max-width:414px) {

  *{
   padding:0;
   margin:0;
  }

  .one-roles{
    margin-top:70px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 14px;
  }
  .one-roles h1{
    font-size: 16px;
  }

  .two-roles{
    margin-top:70px;
    margin-left: auto;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 14px;
  }
  .two-roles h1{
    font-size: 16px;
  }

 /*the portfolio page style for iphone 6 plus */
  .digital-project{
    margin-top: 30px;
  	display: grid;
  	grid-template-columns: repeat(auto-fit, 320px);
  	justify-content: center;
  	padding-bottom: 50px;
  }

  .Mdblab-img{
  	object-fit: cover;
  }

  .digital-project h5{
    font-size: 23px;
  }

  .title-h5{
    margin-left:50px;
    font-size: 23px;
  }

  .title-h5-digital{
    font-size:23px;
  }

}
