:root{
  --font:'Cormorant Garamond', serif;
  --color-text:white;
  --textbgwhite:#3c1053;
  --bgs1color:white;
  --bordercolor:#C0C0C0;
  --pagemixcolor:linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  padding: 0px;
  margin: 0px;
  font-family: var(--font);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1{
  font-family: var(--font);
}

h2,h3,h4,h5,h6{
  font-family: var(--font);
  color: var(--textbgwhite);
  font-size: 35px;
}
h5{
  font-weight:bold;
}

a:hover{
  text-decoration: none;
  color: #ad5389;
}

a{
  text-decoration: none;
  color: var(--textbgwhite);
}

ul{
  list-style: none;
}

.navbar-custom {
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-brand {
  margin-left: 350px;
  margin-bottom: 15px;
}

.nav-link {
  color: var(--color-text);
  margin-left:10px;
  margin-top: 10px;
  font-size: 25px;
}



.navbar{
  height: 85px;
}


.navbar-nav{
  margin-left: 640px;
}

.one-roles{
  margin-top: 150px;
  margin-right: 100px;
  width: 205px;
  height: 400px;
  text-align: center;
  font-size: 22px;
  color:var(--textbgwhite);
}


.two-roles{
  margin-top: 150px;
  margin-left: 190px;
  margin-right: -10px;
  width: 200px;
  text-align: center;
  font-size: 22px;
  color:var(--textbgwhite);
}


.narm-background{
  background-image: url('img/narm.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

/* stylesheet of portfolio it is in home page*/
.s1{
	background-color:#F8F8FF;
	border-top: 2px solid #F8F8FF;
	overflow:auto;
}

.main-container{
	width: 1200px;
	margin: 0 auto;
}

.web-projects-homePage{
  text-align: left;
  margin-top:70px;
  margin-left:100px;
  font-weight:bolder;
}
.title-h5{
  padding-left:8%;
}

.project-wrapper{
  margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content:flex-start;
  padding-left: 8%;
	padding-bottom: 50px;
}

.project{
	border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail{
	display: block;
	width: 100%;
	height:180px;
	object-fit: cover;
}

.project-preview{
	background-color: #fff;
	padding:15px;
}

.project-title{
	margin: 0;
  font-weight: bolder;
  font-size:30px;
}

.project-intro{
	font-size: 20px;
  color: var(--textbgwhite);
}

.visit-site{
  padding:3px 3px 3px;
  line-height: 2;
  color: #8B008B;
  font-size: 19px;
}

/* stylesheet of section 2 :about me it is in about.html file*/
.s2{
	background-color:var(--bgs1color);
	border-top: 1px solid var(--bordercolor);
	overflow: auto;
}


.intro-wrapper{
  margin-bottom: 20px;
  margin-top: 20px;
	display: grid;
	grid-template-columns: 300px 1fr 370px;
	grid-template-rows: 35em 35em 35em;
	grid-template-areas:
	'about-me about-me face-narm'
	'web-developer pie-chart digital-transformer'
  'gif-fact gif-fact random-fact'
	;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  -webkit-box-shadow: 2px 7px 22px 27px #DCDCDC;
  box-shadow: 2px 7px 22px 27px #DCDCDC;
}

.about-me{
	grid-area: about-me;
  width: 90%;
  height: auto;
  color: var(--textbgwhite);
}

.about-me p{
  font-size: 22px;
  line-height: 2;
  margin-left: 70px;
}
.about-me h2{
  line-height: 1.9;
  padding-top: 40px;
  margin-left: 60px;
}

.face-narm{
	grid-area: face-narm;
}

.face-narm img{
  height: 450px;
  margin-left: -100px;
}
.digital-transformer{
	grid-area: digital-transformer;
  padding-top: 50px;
}

.digital-transformer li,.web-developer li{
  line-height: 2;
  color: var(--textbgwhite);
  font-size: 20px;
  margin-left: 0px;
}

.web-developer{
	grid-area: web-developer;
  padding-top: 50px;
  margin-left: 50px;
}

.pie-chart{
	grid-area: pie-chart;
  padding-top: 50px;
}

.pie-chart #pieChart {
  height:300px;
  margin-top: 15px;
}

.gif-fact{
  grid-area: gif-fact;
}

.gif-fact img{
  margin-left: 70px;
  width: 400px;
}

.random-fact{
  grid-area: random-fact;
  color: var(--textbgwhite);
  text-align: left;
  line-height: 2;
  font-size: 22px;
  margin-left:-250px;
  margin-top: 70px;
}

/*  portfolio.html page css style*/
.digital-project{
  margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 1000px);
	justify-content: center;
	padding-bottom: 50px;
}

.digital-card{
  	border:1px solid var(--borderColor);
  	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
  	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
  	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.Mdblab-img{
	display: block;
	width: 100%;
	height:400px;
	object-fit: fill;
}

.contact-wrapper{
  margin-top: 20px;
}
.contact-wrapper h6{
  text-align:center;
  line-height:3;
  font-size:35px;
}
#contact-form{
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  background: var(--pagemixcolor);
  margin-bottom: 70px;
  height: 600px;
  -webkit-box-shadow: 22px 28px 20px -1px rgba(128,69,123,0.45);
  box-shadow: 22px 28px 20px -1px rgba(128,69,123,0.45);
}

#submit-btn{
  margin-top: 10px;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--color-text);
  border:none;
  border-radius: 5px;
  font-size: 22px;
  transition: all 0.4s ease 0s;
  background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#FFFAFA, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #FFFAFA, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#submit-btn:hover{
  color: var(--textbgwhite);
  background: #FFC0CB;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.input-field{
  width: 100%;
  margin: 0 auto;
  border: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
}

#contact-form label{
  line-height: 2.5em;
  font-size: 20px;
  color: var(--color-text);
}

#contact-form textarea{
  min-height: 150px;
  font-size: 14px;
}

footer{
	position: static;
	margin-bottom: 0px;
}

  .footer-distributed{
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	box-sizing: border-box;
  	width: 100%;
    height: auto;
  	text-align: left;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  	display: inline-block;
  	vertical-align: top;
  }

  /* Footer left */

  .footer-distributed .footer-left{
  	width: 18%;
    margin-left: 350px;
    margin-top: 20px;
  }

  /* The company logo */

  .footer-left img{
  	width: 50%;
    height: 140px;
    margin-top:-10px;
  }
  /* Footer links */

  .footer-distributed .footer-links{
  	color:  var(--color-text);
  	margin-bottom: 20px;
  }

  .footer-distributed .footer-links a{
  	display:inline-block;
  	line-height: 1.8;
    font-size: 22px;
  	color:  var(--color-text);
  }

  .footer-distributed .footer-company-name{
  	color:  var(--color-text);
  	font-size: 20px;
  	font-weight: normal;
  	margin: 0;
  }

  /* Footer Center */

  .footer-distributed .footer-center{
  	width: 30%;
    margin-top: 30px;
  }


  .footer-distributed .footer-center i{
  	color: var(--color-text);
  	font-size: 30px;
  	width: 30px;
  	height: 38px;
  	border-radius: 50%;
  	text-align: center;
  	line-height: 42px;
  	margin: 10px 15px;
  	vertical-align: middle;
  }

  .footer-distributed .footer-center i.fa-envelope{
  	font-size: 20px;
  	line-height: 38px;
  }

  .footer-distributed .footer-center p{
  	display: inline-block;
  	color: var(--color-text);
  	vertical-align: middle;
  	margin:0;
    font-size: 22px;
  }

  .footer-distributed .footer-center p span{
  	font-weight: normal;
  	font-size:22px;
  	line-height:2;
    margin-top: 15px;
  }

  .footer-distributed .footer-center p a{
  	color:  var(--color-text);

  }


  /* Footer Right */

  .footer-distributed .footer-right{
  	width: 18%;
    margin-top: 30px;
  }

  .footer-distributed .footer-company-about{
  	line-height: 20px;
  	color:  var(--color-text);
  	font-size: 22px;
  	font-weight: normal;
  	margin-top: 15px;
  }


  .footer-distributed .footer-icons{
  	margin-top: 20px;
  }

  .footer-distributed .footer-icons a{
  	display: inline-block;
  	cursor: pointer;
  	border-radius: 8px;
  	font-size: 26px;
  	color: var(--color-text);
  	text-align: center;
  	margin-right: 10px;
    margin-left: 10px;
  	margin-bottom: 5px;
  }

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
/* here the */
@media only screen and (max-width:1200px) {

  *{
   padding:0;
   margin:0;
  }
  h2{
    font-size: 28px;
  }
  .title-h5{
    padding-left: 4%;
  }
   .project-wrapper{
     padding-left:4%;
   }
  .digital-project{
    margin-top: 30px;
  	display: grid;
  	grid-template-columns: repeat(auto-fit, 680px);
  	justify-content: center;
  	padding-bottom: 50px;
  }

  .navbar-brand img{
    border-radius: 50%;
    width: 165px;
    height: 128px;
    margin-top: -25px;
  }

  .navbar-brand{
    margin: -15px 0px 40px;
    overflow: auto;
  }

  .navbar-nav{
    height: 60px;
    margin: 0px;
    display: inline;
    margin-bottom: 20px;
  }
  .nav-item {
    display: inline;
  }
  .nav-link{
    font-size: 22px;
    display: inline;
  }

  .one-roles{
    margin-top: 150px;
    margin-right: 50px;
  }

  .footer-distributed{
    display: grid;
    grid-template-columns: 330px 330px;
    grid-template-rows:auto auto;
    grid-template-areas:
      'footer-left footer-center'
      'footer-right footer-right'
      ;
  	width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    grid-area: footer-left;
  	width: auto;
    margin: 0px;
  }
  .footer-left .footer-links a{
    font-size: 22px;
  }

  .footer-distributed .footer-center{
    display:inline-block;
    grid-area: footer-center;
    width: 450px;
    margin-top: 30px;
    margin-right: 0px;
  }
  .footer-center p{
    font-size: 22px;
  }

  .footer-distributed .footer-center i{
    font-size: 22px;
    width: auto;
    height: auto;

  }

  .footer-distributed .footer-center i.fa-envelope{
    font-size: 20px;
    line-height: 20px;
  }

  .footer-distributed .footer-center p{
    font-size: 22px;
  }

  .footer-distributed .footer-center p span{
    font-weight: 18px;
  }

  .footer-distributed .footer-right{
    grid-area: footer-right;
    width: auto;
    margin-top: 35px;
    padding-bottom: 20px;
    margin-left: 90px;
  }
  /* the sectons:two and three */
  .main-container{
    width: 95%;
  }
  .intro-wrapper{
    margin:auto;
  	display: grid;
  	grid-template-columns: 200px 340px 200px;
  	grid-template-rows: 20em 20em 20em;
  	grid-template-areas:
  	'about-me about-me face-narm'
  	'web-developer pie-chart digital-transformer'
    'gif-fact gif-fact random-fact'
  	;
    grid-row-gap: 4.5ch;
    box-shadow: none;
  }

  .about-me{
  	grid-area: about-me;

  }
  .about-me p{
    margin-left: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
  .about-me h2{
    line-height: 1.5;
    padding-top: 20px;
    margin-left: 20px;
  }

  .face-narm img{
    height: 300px;
    width: 230px;
    margin-left: -40px;
    margin-top: 20px;
  }

  .web-developer{
    margin-left: 25px;
  }

  .digital-transformer{
    margin-left: -30px;
    padding-top: 50px;
  }

  .digital-transformer h2,.web-developer h2{
    font-weight: bolder;
  }
  .digital-transformer li,.web-developer li{
    line-height: 1.5;
    font-size: 19px;
  }


  .pie-chart #pieChart {
    height:300px;
    width: 300px;
    margin-left: -20px;
    margin-top: 15px;
  }

  .gif-fact{
    padding-top:2%;
  }
  .gif-fact img{
    margin-left:40px;
    width: 260px;
  }

  .random-fact{
    grid-area: random-fact;
    text-align: left;
    line-height: 1.8;
    font-size: 20px;
    margin-left:-120px;
    margin-top: 30px;
  }

}

@media only screen and (max-width:414px) {

  *{
   padding:0;
   margin:0;
  }
  html{
    zoom:.8;
  }
  .narm-background{
    padding-top:10%;
    background-image: url('img/narm2.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
  }
  .navbar-brand img{
    height: 120px;
    margin-top: -17px;
  }

  .navbar-nav{
    margin-top: 8px;
  }

  .nav-link{
    font-size:18px;
  }
  .one-roles{
    margin-top:40px;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 18px;
  }
  .one-roles h1{
    font-size: 20px;
    font-weight:bold;
  }

  .two-roles{
    margin-top:40px;
    margin-left: auto;
    width: 120px;
    height: 100px;
    text-align: center;
    font-size: 18px;
  }

  .two-roles h1{
    font-size: 20px;
    font-weight:bold;
  }
  /* about-me section , iphone 6 plus responsive style.*/
  .main-container{
    width: 100%;
  }

  .web-projects-homePage{
    text-align: left;
    margin-top:50px;
    margin-left:50px;
    font-weight:bolder;
  }

  .intro-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 0ch;
  }
  .about-me p{
    font-size: 20px;
  }

  .face-narm img{
    height: auto;
    margin-left: 100px;
  }

  .web-developer{
    margin-left: 30px;
    text-align: center;
  }


  .pie-chart{
    margin-left: 50px;
  }

  .digital-transformer{
    margin-left: 30px;
    text-align: center;
  }

  .digital-transformer li, .web-developer li ,.random-fact li{
    font-size: 20px;
    line-height: 2;
  }

  .digital-transformer h2, .web-developer h2 {
    font-weight: bolder;
    font-size: 30px;
    line-height: 2;
  }

  .gif-fact{
    margin-left: 40px;
    margin-top: 30px;
  }

  .random-fact{
    margin-left:80px;
    margin-top: 20px;
  }
  .title-h5{
    padding-left: 11%;
  }
   .project-wrapper{
     padding-left:11%;
   }

  /*style for iphone 6 plus of the footer */
  .footer-distributed{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .footer-left img{
    width: 90%;
  }

  .footer-right{
    width: 100%;
    align-content: center;
  }

  .footer-right .footer-company-about{
    margin-left: -80px;
  }


  .footer-right .footer-company-name,.footer-icons{
     margin-left: -80px;
  }

 /*the portfolio page style for iphone 6 plus */
  .digital-project{
    margin-top: 30px;
  	display: grid;
  	grid-template-columns: repeat(auto-fit, 320px);
  	justify-content: center;
  	padding-bottom: 50px;
  }

  .Mdblab-img{
  	object-fit: cover;
  }

}
